---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title="Home">
    <main>
        <Section title="Our Partnership" subtitle="Partnership" description="London Foster is an active member of over 20 Real Estate Associations throughtout florida.">
            <div class="flex items-center justify-between">
                <img src="https://londonfoster.com/wp-content/uploads/2017/03/logo200h-175x50-c-center.png" alt="" />
                <img src="https://londonfoster.com/wp-content/uploads/2017/03/rasm_logo-175x50-c-center.jpg" alt="" />
                <img src="https://londonfoster.com/wp-content/uploads/2017/03/realtors-association-logo-lo-res-7-09-rgb-175x50-c-center.jpg" alt="" />
                <img src="https://londonfoster.com/wp-content/uploads/2017/03/1c84eb0b-5494-4452-ba72-979b95d3ea38BROWARD-Council-LOGO-for-website-175x50-c-center.jpg" alt="" />
                <img src="https://londonfoster.com/wp-content/uploads/2016/04/new1-175x50-c-center.png" alt="" />
                <img src="https://londonfoster.com/wp-content/uploads/2016/04/28e938cf-b00e-4178-9821-b7f8ee6e57530_MIAMILogo090110-175x50-c-center.jpg" alt="" />
            </div>
        </Section>
    </main>
</Layout>
